html {
	margin-left: 30px;
}

body {
	font-family: Arial;
}

img {
	box-shadow: 5px 10px #d3d3d3;
}

fieldset {
	background-color: lightblue;
	width: 60%;
}

label {
	font-size: 13px;
}

input {
	margin: 5px;
}

legend {
	font-weight: bold;
}

h4 {
	font-size: 20px;
	color: green;
}

