html {
	background-color: lightblue;
}

#photos {
	width: 50%;
	margin: auto;
}

.headshot {
	display: block;
	margin: auto;
}

nav {
	display: inline;
}

a.button {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    padding: 5px;
    color: initial;
}
