html {
	font-family: gill sans;
	background-color: #708090;
}

#allinfo {
	text-align: center;
	color: #FFFFFF;
}

#home{
	color: black;
}

p {
	display: inline;
}

nav {
	display: inline;
	font-size: 30px;
}

.button {
	border: 2px solid #4CAF50;
}

.button:hover {
	transition-duration: 1s;
	color: black;
}

a.button {
	color: white;
    text-decoration: none;
    padding: 5px;
}

#contact {
	font-size: 25px;
}

footer {
	background-color: #708090;
	color: white;
}

#footer {
	text-align: center;
}


