html {
	background-color: lightblue;
}
.res {
	width: 40%;
	display: block;
	margin: auto;
}

nav {
	display: inline;
}

a.button {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    padding: 5px;
    color: initial;
}
